<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.example.lesson04.mapper.UserMapper">
	<insert id="insertUser" parameterType="map">
		INSERT INTO `new_user`
		(
			`name`
			, `yyyymmdd`
			, `email`
			, `introduce`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{name}
			, #{yyyymmdd}
			, #{email}
			, #{introduce}
			, NOW()
			, NOW()
		)
	</insert>
	<select id="selectLatestUser" resultType="com.example.lesson04.domain.User">
		SELECT
			`id`
			, `name`
			, `yyyymmdd`
			, `email`
			, `introduce`
			, `createdAt`
			, `updatedAt`
		FROM
			`new_user`
		ORDER BY `id` DESC
		LIMIT 1
	</select>
	<select id="isDuplicateByName" parameterType="String" resultType="boolean">
	<!-- resultType을 boolean으로 하면 count가 0일때 false, 0이 아닌 수이면 true이기 때문에 중복 -->
		SELECT
			COUNT(*)
		FROM
			`new_user`
		WHERE
			`name` = #{name}
	</select>
</mapper>